What is a database? Differentiate between SQL and NoSQL databases.

Ans : A database is a structured set of data that may be electronically stored, retrieved, managed, and updated. Databases can be used to store various types of information, such as customer data, financial transactions, or product inventories.

SQL--Structured Query Language 
NoSQL--Not Only SQL, this two main types of databases.
SQL databases are relational databases, which store data in tables with fixed columns and rows. SQL databases use a language called SQL to manipulate and retrieve data. SQL databases are commonly used for structured data, such as financial records, customer data, or inventory data. Examples of SQL databases include MySQL, Oracle, and SQL Server.

NoSQL databases can handle a variety of unstructured or semi-structured data, including text, images, or videos. NoSQL databases use different models for data storage, such as document-oriented, key-value, or graph databases. Examples of NoSQL databases include MongoDB, Cassandra, and Amazon DynamoDB.

## 2 Question

What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands is Data Definition Language, and it is a subset of SQL that is used to create, modify, and delete database objects, such as tables, indexes, and views. DDL statements define the structure and organization of the data.

The CREATE statement is used to create a new database object, such as a table, index, or view.

The DROP statement is used to delete an existing database object.

The ALTER statement is used to modify an existing database object.

The TRUNCATE statement is used to delete all data from a table, but it does not delete the table itself.

In [ ]:
CREATE TABLE employees (
  id INT,
  name VARCHAR(50),
  salary FLOAT
);

In [ ]:
DROP TABLE employees;

In [ ]:
ALTER TABLE employees ADD COLUMN name varchar(100);

In [ ]:
TRUNCATE TABLE employees;

## 3 Question

What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML stands for Data Manipulation Language, and it is a subset of SQL that is used to insert, update, and delete data in a database. DML statements are used to modify the data stored in tables,

In [ ]:
The INSERT statement is used to add new data to a table.

In [ ]:
INSERT INTO sagardata (roll, name, salary)
VALUES (1, 'sagar p', 40000);

In [ ]:
The UPDATE statement is used to modify existing data in a table.

In [ ]:
UPDATE sagardata SET salary = 55000 WHERE roll = 1;

In [ ]:
The DELETE statement is used to delete existing data from a table.

In [ ]:
DELETE FROM sagardata WHERE roll = 1;

## 4 Question

What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a subset of SQL that is used to retrieve data from a database. DQL statements are used to query the data stored in tables.

 here SELECT statement to retrieve all the data from the "sagardata" table

In [ ]:
SELECT * FROM sagardata;

## 5 Question

In [ ]:
Explain Primary Key and Foreign Key.

Ans : In a relational database, a primary key is a column or a set of columns that uniquely identifies each record in a table. A primary key must be unique and cannot contain null values.

A foreign key, on the other hand, is a column or a set of columns in one table that refers to the primary key of another table. It is used to establish a link between the two tables. 
The purpose of a foreign key is to ensure referential integrity, which means that the values in the foreign key column must match the values in the primary key column of the referenced table.

## 6 Question

In [ ]:
Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("select * from test2.test_table")
for i in mycursor.fetchall() :
    print(i)

cursor() method is used to create a cursor object, which is used to execute SQL queries on a MySQL database. The execute() method is used to execute SQL queries on the database.

## 7 Question

Give the order of execution of SQL clauses in an SQL query.

In [2]:
Ans:

SyntaxError: invalid syntax (1902727840.py, line 1)

The order of execution of SQL clauses in an SQL query is:

FROM clause: Specifies the table(s) from which to select the data.

WHERE clause: Filters the rows based on a specified condition.

GROUP BY clause: Groups the rows based on one or more columns.

HAVING clause: Filters the groups based on a specified condition.

SELECT clause: Specifies the columns to be included in the result set.

ORDER BY clause: Sorts the result set based on one or more columns.

LIMIT/OFFSET clause: Limits the number of rows returned by the query.